@import "fonts.css";
body {
  margin: 0;
  left: 0;
  transition: all 0.5s;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  body button {
    display: none;
  }
}
body.menu-open #mask {
  display: block;
}
@media screen and (max-width: 767px) {
  body.menu-open {
    overflow: hidden;
    left: calc(100% - 72px);
  }
  body.menu-open header button span {
    background-color: transparent;
  }
  body.menu-open header button span:before {
    top: 0;
    transform: rotate(45deg);
  }
  body.menu-open header button span:after {
    top: 0;
    transform: rotate(-45deg);
  }
  body.menu-open header nav {
    position: fixed;
/* same as above, the sidenav should span the width of the page minus
           * the width of the hamburguer icon
           */
    width: calc(100% - 72px);
    left: 0;
    background-color: #fff;
    display: inline-flex;
    flex-direction: column;
  }
  body.menu-open header nav #logo {
    display: block;
  }
  body.menu-open header nav li {
    display: inline-block;
  }
  body.menu-open header nav span {
    display: block;
  }
}
header {
  background: #ec008c;
  height: 60px;
}
@media screen and (min-width: 768px) {
  header {
    height: 72px;
  }
}
header nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  header nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  header nav li ul {
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    left: 0;
    background-color: #fff;
    top: 72px;
    z-index: 50;
  }
  header nav li ul li {
    text-align: left;
    background-color: #fff;
    padding: 0;
    height: 48px;
  }
  header nav li:hover,
  header nav li.active {
    background-color: #fff;
  }
  header nav li:hover a,
  header nav li.active a {
    color: #ec008c;
    height: 24px;
  }
  header nav li.active ul {
    display: block;
  }
  header nav li.active ul a {
    color: #ec008c;
  }
  header nav li.active ul li {
    display: block;
    width: 100%;
  }
  header nav li.active ul li a {
    display: block;
    font: 16px GalaxieCopernicus;
    color: #000;
    padding: 12px 24px;
    position: relative;
    text-align: left;
    top: 0;
    left: 0;
    white-space: pre;
  }
  header nav li.active ul li:hover {
    background-color: #eee;
  }
  header nav li.active ul li:hover a {
    color: #ec008c;
  }
}
@media screen and (max-width: 767px) {
  header nav {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 0;
    left: -100%;
    transition: left 0.5s, width 0.5s;
  }
  header nav li {
    display: none;
    z-index: 40;
    height: 24px;
  }
  header nav li a {
    text-align: left;
    color: #000 !important;
    float: left;
  }
  header nav li:first-child {
    margin-top: 12px;
  }
  header nav li ul {
    display: inline-flex;
    flex-direction: column;
    visibility: collapse;
    height: 0;
    transition: height 1s linear;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    left: 0;
  }
  header nav li ul li {
    height: 48px;
    width: calc(100vw - 96px);
    position: relative;
    padding: 0;
    z-index: 50;
  }
  header nav li ul li a {
    font: 20px GalaxieCopernicus;
    padding: 12px 0;
    margin: 0;
    height: 24px;
    width: 100%;
  }
  header nav li ul li:hover {
    background-color: #eee;
  }
  header nav li ul li:hover a {
    color: #ec008c !important;
  }
  header nav li.active {
    padding-bottom: 0;
    height: auto;
  }
  header nav li.active ul {
    margin: 0;
    visibility: visible;
    height: auto;
  }
  header nav li.active ul li {
    margin-left: -24px;
    padding-left: 24px;
  }
}
header nav li {
  list-style-type: none;
  margin: 0;
  font: 24px HUGEAvantGardeBold;
  text-align: center;
  padding: 24px;
  transition: 0.3s background-color;
  position: relative;
}
header nav li:first-child {
  margin-top: 12px;
}
header nav li a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  width: 100%;
  height: 100%;
}
header nav #logo {
  height: 72px;
  left: 0;
  position: relative;
  background-color: #ec008c;
}
@media screen and (max-width: 767px) {
  header nav #logo {
    height: 60px;
    display: none;
  }
}
header nav #logo img {
  margin-top: 20px;
  height: 20px;
  width: 50px;
  padding-left: 24px;
}
@media screen and (min-width: 768px) {
  header nav #logo img {
    margin-top: 24px;
    height: 24px;
    width: 60px;
    padding-left: 24px;
    padding-right: 48px;
  }
}
header nav span {
  font-family: 'Helvetica Neue', HelveticaNeue, sans-serif;
  font-size: 16px;
  bottom: 0;
  position: fixed;
  height: 48px;
  line-height: 48px;
  width: 100%;
  margin-left: 24px;
  display: none;
}
header button {
  background: #ec008c;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  padding: 0;
}
header button#menuBtn {
  width: 72px;
  height: 60px;
}
header button span,
header button span:before,
header button span:after {
  transition: all 0.5s;
  margin-left: 24px;
  display: block;
  background-color: #fff;
  height: 4px;
  width: 24px;
  margin-bottom: 4px;
  content: '';
  position: absolute;
}
header button span:before,
header button span:before:before,
header button span:after:before {
  top: -8px;
  margin: 0;
}
header button span:after,
header button span:before:after,
header button span:after:after {
  bottom: -8px;
  margin: 0;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
#content #cover {
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  #content #cover {
    height: 640px;
  }
}
#content #cover img {
  width: 100%;
  height: 100%;
}
#content #title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
#content #title h1 {
  float: left;
  max-width: 968px;
  font-family: HUGEAvantGardeBold;
  width: 100%;
  max-width: 968px;
  text-overflow: ellipsis;
  font-size: 48px;
  margin: 50px auto 0 auto;
  text-align: left;
  padding-left: 24px;
}
@media screen and (min-width: 768px) {
  #content #title h1 {
    text-align: center;
    font-size: 132px;
    position: absolute;
    padding: 0;
    top: 50vh;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}
#content #paragraph {
  max-width: 968px;
  margin: 50px 24px;
  align-self: center;
}
#content #paragraph p {
  font-family: GalaxieCopernicus-Book;
  font-size: 20px;
  position: relative;
  text-align: justify;
  max-width: 100%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  #content #paragraph p {
    font-size: 36px;
  }
}
#mask {
  position: absolute;
  margin: 60px 0 0 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: none;
  z-index: 40;
}
@media screen and (min-width: 768px) {
  #mask {
    margin-top: 72px;
  }
}
